<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Goodshare Home</title>
    <link rel="stylesheet"  href="{%  static  'css/checkout-example-css.css'  %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<!-- / A set of walkthrough screens in HTML/CSS/JS. A personal experiment with layering images, CSS3 transitions, & flexbox. -->
<div style="float:left">
<button class='open-walkthrough'>Start</button>
<div class='walkthrough show reveal'>
  <div class='walkthrough-pagination'>
    <a class='dot active'></a>
    <a class='dot'></a>
    <a class='dot'></a>
    <a class='dot'></a>
    <a class='dot'></a>
  </div>
  <div class='walkthrough-body'>
    <ul class='screens animate'>
      <li class='screen active'>
        <div class='media logo'>
          <img class='logo' src='https://s3.amazonaws.com/jebbles-codepen/icon.png'>
        </div>
        <h3>
          Product Intro
          <br>Walkthrough</br>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      </li>
      <li class='screen'>
        <div class='media books'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/book_icon_1.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/book_icon_2.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/book_icon_3.png'>
        </div>
        <h3>
          Data and File
          <br>Management</br>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      </li>
      <li class='screen'>
        <div class='media bars'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_axis.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_3.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_2.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_1.png'>
        </div>
        <h3>
          Analytics
          <br>and Metrics</br>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      </li>
      <li class='screen'>
        <div class='media files'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_1.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_2.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_3.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_4.png'>
        </div>
        <h3>
          Reporting
          <br>and Insights</br>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      </li>
      <li class='screen'>
        <div class='media comm'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/comm_icon_1.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/comm_icon_2.png'>
        </div>
        <h3>
          Communications
          <br>Tools</br>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      </li>
    </ul>
    <button class='prev-screen'>
      <i class='icon-angle-left'></i>
    </button>
    <button class='next-screen'>
      <i class='icon-angle-right'></i>
    </button>
  </div>
  <div class='walkthrough-footer'>
    <button class='button next-screen'>Next</button>
    <button class='button finish close' disabled='true'>Finish</button>
  </div>
</div>

</div>


{% load static %}
<script src="{% static '/js/checkout-example-js.js' %}"></script>
</body>
</html>