<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Food PickUp</title>
    <link rel="stylesheet"  href="{%  static  'css/food-css.css'  %}">

    <script>
        function changeText() {
          x = document.getElementById("mySelect");
          x.options[x.selectedIndex].text = "Melon";
        }
        </script>
</head>

<body>

    <div class="contact-us">
        <form action="/populate/">
          <input list="browsers" name="myBrowser" placeholder="Type of Food" required=""/>
          <datalist id="browsers">
            <option value="Veggies">
            <option value="Fruits">
            <option value="Bakery">
            <option value="Packed">
            <option value="Grains">
            <option value="Fresh Produce">
          </datalist>
          <div style="float:left; width: 45%"><input name="customerPhone" required=""  placeholder="City" type="tel"/></div>
          <div style="float:right; width: 50%"><input name="customerPhone" required=""  placeholder="State" type="tel"/></div>
          <input name="customerEmail" required="" placeholder="Address" type="text" />
          <button type="submit" style="margin-top:10px" value="submit">Pick Up</button>
        </form>
      </div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{% load static %}
<script src="{% static '/js/food-js.js' %}"></script>



</body>
</html>