<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Give Away</title>
    <link rel="stylesheet"  href="{%  static  'css/giveaway-css.css'  %}">
</head>
<body>
<div class="container">
  <div class="split left">
    <h1>FOOD</h1>
    <a href="food_post/" class="button">Post</a>
  </div>
  <div class="split middle">
    <h1>CLOTHES</h1>
    <a href="clothes_post/" class="button">Post</a>
  </div>
  <div class="split right">
    <h1>HOUSEHOLD ITEMS</h1>
    <a href="items_post/" class="button">Post</a>
  </div>
</div>
{% load static %}
<script src="{% static '/js/giveaway-js.js' %}"></script>
</body>
</html>