<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Goodshare Home</title>
    <link rel="stylesheet"  href="{%  static  'css/style_new.css'  %}">
</head>
<body>
<div class="container">
  <div class="split left">
    <h1>GIVE AWAY!</h1>
    <a href="/give_away/" class="button">Continue</a>
  </div>
  <div class="split right">
    <h1>PICK UP!</h1>
    <a href="/pickup/" class="button">Continue</a>
  </div>
</div>
{% load static %}
<script src="{% static '/js/home_temp.js' %}"></script>
</body>=
</html>