<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Goodshare Home</title>
    <link rel="stylesheet"  href="{%  static  'css/populate-css.css'  %}">
</head>
<body>
  <main class="page-content" id="father">
    <div class="card" id="child">
        <div class="content">
            <h2 class="title" id="title-name">Packed</h2>
            <p class="copy">Free Doritos Available at request</p><button class="btn">5854781243</button>
        </div>
    </div>
{% comment %}     
    <script>
      var child = document.getElementById('child');
      var father = document.getElementById('father');


      document.getElementById('title-name').innerHTML = "TEST";


      for (let i = 0; i < 4; i++) {
        father.appendChild(child.cloneNode(true))
      }
    </script> {% endcomment %}
    <div class="card">
        <div class="content">
            <h2 class="title">Bakery</h2>
            <p class="copy">I bought some extra bread and leaving town</p><button class="btn">3127500994</button>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">Bakery</h2>
            <p class="copy">Free buns from the bakery</p><button class="btn">8488663913</button>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">Packed</h2>
            <p class="copy">I purchased Ritz online and received too many</p><button class="btn">5764282042</button>
        </div>
    </div>

    <div class="card">
      <div class="content">
          <h2 class="title">Fruits</h2>
          <p class="copy">Purchased oranges but leaving town</p><button class="btn">3665330845</button>
      </div>
  </div>
</main>
{% load static %}
<script></script>
</body>
</html>