<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Goodshare Home</title>
    <link rel="stylesheet"  href="{%  static  'css/populate-clothes-css.css'  %}">
</head>
<body>
  <main class="page-content" id="father">
    <div class="card" id="child">
        <div class="content">
            <h2 class="title" id="title-name">Jeans</h2>
            <p class="copy">Jeans in great condition!</p><button class="btn">5965635049</button>
        </div>
    </div>
{% comment %}     
    <script>
      var child = document.getElementById('child');
      var father = document.getElementById('father');


      document.getElementById('title-name').innerHTML = "TEST";


      for (let i = 0; i < 4; i++) {
        father.appendChild(child.cloneNode(true))
      }
    </script> {% endcomment %}
    <div class="card">
        <div class="content">
            <h2 class="title">Shirts</h2>
            <p class="copy">Last year's Everton Jersey. Son outgrew it!</p><button type="submit" class="btn">2965520913</button>
        </div>
    </div>

    <div class="card">
        <div class="content">
            <h2 class="title">Skirts</h2>
            <p class="copy">Black Skirt worn only three times.</p><button class="btn">9465719421</button>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">Hoodie</h2>
            <p class="copy">Amazon Essentials Cream Gender Neutral Hoodie</p><button class="btn">7123546015</button>
        </div>
    </div>

    <div class="card">
      <div class="content">
          <h2 class="title">Jacket</h2>
          <p class="copy">Pink puffer jacket giving away due to move</p><button class="btn">6006959984</button>
      </div>
  </div>

</main>
{% load static %}
<script></script>
</body>
</html>