<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Goodshare Home</title>
    <link rel="stylesheet"  href="{%  static  'css/populate-household-css.css'  %}">
</head>
<body>
  <main class="page-content" id="father">
    <div class="card" id="child">
        <div class="content">
            <h2 class="title" id="title-name">Furniture</h2>
            <p class="copy">Used sofa in okay condition</p><button class="btn">5163590652</button>
        </div>
    </div>
{% comment %}     
    <script>
      var child = document.getElementById('child');
      var father = document.getElementById('father');


      document.getElementById('title-name').innerHTML = "TEST";


      for (let i = 0; i < 4; i++) {
        father.appendChild(child.cloneNode(true))
      }
    </script> {% endcomment %}
    <div class="card">
        <div class="content">
            <h2 class="title">Furniture</h2>
            <p class="copy">office chair very comfortable</p><button class="btn">8456659380</button>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">Other</h2>
            <p class="copy">set of pans in pristine condition</p><button class="btn">9144483033</button>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">Appliances</h2>
            <p class="copy">LG 55 inch tv 1 year old</p><button class="btn">3153947375</button>
        </div>
    </div>

    <div class="card">
      <div class="content">
          <h2 class="title">Furniture</h2>
          <p class="copy">vintage vase from the 18th century</p><button class="btn">5183435954</button>
      </div>
  </div>


</main>
{% load static %}
<script></script>
</body>
</html>