<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Food Post</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/foodpost-css.css'  %}">
</head>
<body>
<section class="food_info">
    <h3 class ="title">FOOD INFO</h3>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="upload-form row">

                    <div class ="form-field col-lg-12">
                    <input id="description" class="input-text" type="text" name="description" value="{{ description }}">
                    <label for ="description" class="label">Description</label>
                </div>

                <div class ="form-field col-lg-6">
                    <select name="type" class="dropdown" id="type" >
                        <option value="Veggies">Veggies</option>
                        <option value="Fruits">Fruits</option>
                        <option value="Bakery">Bakery</option>
                        <option value="Packed">Packed</option>
                        <option value="Grains">Grains</option>
                        <option value="Fresh Produce">Fresh Produce</option>
                        <option value="Other">Other</option>
                    </select>
                    <label for="type" class ="label">Type:</label>
                </div>

                <div class ="form-field col-lg-6">
                    <input id="mobile" class="input-text" type="text" name="contactno" value="{{ contactno }}">
                    <label for ="mobile" class="label">Mobile</label>
                </div>

                <div class ="form-field col-lg-6">
                    <input id="address" class="input-text" type="text" name="address" value="{{ address }}">
                    <label for ="address" class="label">Address</label>
                </div>

                <div class ="form-field col-lg-6">
                    <input id="city" class="input-text" type="text" name="city" value="{{ city }}">
                    <label for ="address" class="label">City</label>
                </div>

                <div class ="form-field col-lg-6">
                    <input id="state" class="input-text" type="text" name="state" value="{{ state }}">
                    <label for ="address" class="label">State</label>
                </div>

                <div class ="form-field col-lg-6">
                    <input id="quantity" class="input-text" type="text" name="quantity" value="{{ quantity }}">
                    <label for ="quantity" class="label">Quantity</label>
                </div>

                <div class ="form-field col-lg-6">
                    <input id="expiry" class="input-text" type="date" name="expiry" value="{{ expiry }}">
                    <label class="label">Expiry Date</label>
                </div>

                <div class ="form-field col-lg-12">
                <form action="/action_page.php">
                    <input type="file" id="image" name="file" value="{{ image }}" multiple>
                    <label for ="image" class="label">Upload File</label>
                </form>
                </div>

                <div class ="form-field col-lg-12">
                    <button type="submit" class="submit-btn">Submit</button>
                </div>
                </div>
            </form>
        </div>
</section>
</body>
</html>