
/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: grey;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> -to position the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown list */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Style the submit button */
form.example button {
  float: right;
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url("https://cc-prod.scene7.com/is/image/CCProdAuthor/Black-background_P1_900x420?$pjpeg$&jpegSize=200&wid=900");
    background-size: cover;
    padding-left: 5%
    padding-right: 5%
    box-sizing: border-box;
    position: relative;
    }
.surround{


}
.box{
    background-color:grey;
    text-align:left;
    padding:20px;
    border:1px ghostwhite;
    margin: 450px;
    position: absolute;
    top: 0%;
    transform: translate(0, -50%);
    border-radius: 10px;
    opacity: .85;
   }

